<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @order.vehicle_id %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @order.phone_number %>
</p>

<p>
  <strong>Company title:</strong>
  <%= @order.company_title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @order.surname %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @order.email_address %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
