<div>
  <h3>Home page updated</h3>

  <div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Profile", edit_user_registration_path %>
    <%= link_to "My Vehicles", my_vehicles_path %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

<div>

   <%= link_to "New Vehicle", new_vehicle_path %>
   <%= link_to "Find Vehicles", vehicles_path %>
</div>
</div>
