<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @tracker.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @tracker.longitude %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @tracker.altitude %>
</p>

<p>
  <strong>Angle:</strong>
  <%= @tracker.angle %>
</p>

<p>
  <strong>Satellites:</strong>
  <%= @tracker.satellites %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @tracker.speed %>
</p>

<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
