<%= form_with(model: vehicle) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="vehicle-field form-floating">
    <%= form.text_field :manufacturer, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :manufacturer, "Gamintojas*", for: "floatingInput" %>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.text_field :model, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :model, "Modelis*", for: "floatingInput" %>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.text_field :city, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :city, "Miestas*", for: "floatingInput" %>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.text_field :plate_number, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :plate_number, "Auto. numeris*", for: "floatingInput" %>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.text_field :category, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :category, "Kategorija*", for: "floatingInput" %>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.text_field :body_style, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :body_style, "Kėbulo tipas*", for: "floatingInput" %>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.text_field :color, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :color, "Spalva*", for: "floatingInput" %>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.number_field :year, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :year, "Metai*", for: "floatingInput" %>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.text_field :ad_size, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :ad_size, "Reklamos plotas*", for: "floatingInput" %>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.number_field :ad_duration, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :ad_duration, "Reklamos trukmė*", for: "floatingInput" %>
  </div>

  <div class="col-md d-grid gap-2">
    <%= form.submit "Registruoti", class: "btn btn-primary" %>
  </div>
<% end %>
