<%= form_with(model: vehicle) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="vehicle-field form-floating">
    <%= form.text_field :manufacturer, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :manufacturer, "Gamintojas*", for: "floatingInput" %>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.text_field :model, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :model, "Modelis*", for: "floatingInput" %>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.text_field :plate_number, {class: "form-control", id: "floatingInput"} %>
    <%= form.label :plate_number, "Auto. numeris*", for: "floatingInput" %>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.select :category, options_for_select(["Lengvasis"]), {include_blank: true}, {class: "form-select", id: "floatingSelectGrid"} %>
    <label for="floatingSelectGrid">Kategorija*</label>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.select :year, options_for_select(Date.today.year.downto(2010)), {include_blank: true}, {class: "form-select", id: "floatingSelectGrid"} %>
    <label for="floatingSelectGrid">Pagaminimo metai*</label>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.select :body_style, options_for_select(["Sedanas", "Hečbekas", "Universalas", "Visureigis", "Vienatūris", "Kupė", "Komercinis", "Kabrioletas", "Limuzinas", "Pikapas", "Kita"]), {include_blank: true}, {class: "form-select", id: "floatingSelectGrid"} %>
    <label for="floatingSelectGrid">Kėbulo tipas*</label>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.select :color, options_for_select(["Balta/Perlas", "Geltona/Auksas", "Juoda", "Mėlyna/Žydra", "Oranžinė", "Pilka", "Sidabrinė", "Raudona", "Ruda/Rusva", "Žalia", "Kita"]), {include_blank: true}, {class: "form-select", id: "floatingSelectGrid"} %>
    <label for="floatingSelectGrid">Spalva*</label>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.select :ad_size, options_for_select([["Pilnas", 1], ["Pusė mašinos", 2], ["Dalinis", 3]]), {include_blank: true}, {class: "form-select", id: "floatingSelectGrid"} %>
    <label for="floatingSelectGrid">Reklamos plotas*</label>
    <div class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="vehicle-field form-floating">
    <%= form.select :ad_duration, options_for_select([["iki 3mėn.", 1], ["iki 6mėn.", 6], ["iki 12mėn.", 12]]), {include_blank: true}, {class: "form-select", id: "floatingSelectGrid"} %>
    <label for="floatingSelectGrid">Reklamos trukmė*</label>
    <div class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="col-md d-grid gap-2">
    <%= form.submit "Registruoti", class: "btn btn-primary" %>
  </div>
<% end %>
