<%= form_with(model: vehicle) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="vehicle-field">
    <%= form.label :manufacturer, "Gamintojas*", for: "manufacturerInput", class: "form-label" %>
    <%= form.text_field :manufacturer, {class: "form-control", id: "manufacturerInput", placeholder: "pvz. Lexus"} %>
  </div>

  <div class="vehicle-field">
    <%= form.label :model, "Modelis*", for: "modelInput", class: "form-label" %>
    <%= form.text_field :model, {class: "form-control", id: "modelInput", placeholder: "pvz. GS300"} %>
  </div>

  <div class="vehicle-field">
    <%= form.label :plate_number, "Valstybinis numeris*", for: "plateNumberInput", class: "form-label" %>
    <%= form.text_field :plate_number, {class: "form-control", id: "plateNumberInput", placeholder: "pvz. LTN012"} %>
  </div>

  <div class="vehicle-field">
    <%= form.label :year, "Pagaminimo metai*", for: "yearSelectGrid", class: "form-label" %>
    <%= form.select :year, options_for_select(Date.today.year.downto(2010)), {}, {class: "form-select", id: "yearSelectGrid"} %>
  </div>

  <div class="vehicle-field">
    <%= form.label :body_style, "Kėbulo tipas*", for: "bodyStyleSelectGrid", class: "form-label" %>
    <%= form.select :body_style, options_for_select(body_style_select_helper), {}, {class: "form-select", id: "bodyStyleSelectGrid"} %>
  </div>

  <div class="vehicle-field">
    <%= form.label :color, "Spalva*", for: "colorSelectGrid", class: "form-label" %>
    <%= form.select :color, options_for_select(color_select_helper), {}, {class: "form-select", id: "colorSelectGrid"} %>
  </div>

  <div class="col-md d-grid gap-2">
    <%= form.submit "Išsaugoti", class: "btn btn-primary" %>
  </div>
<% end %>
