<div class="search-container">
  <%= search_form_for @q do |f| %>

    <div>
      <%= f.label :body_style_cont %>
      <%= f.search_field :body_style_cont %>
    </div>

    <div>
      <%= f.label :ad_size_cont %>
      <%= f.search_field :ad_size_cont %>
    </div>

    <div>
      <%= f.label :ad_duration_cont %>
      <%= f.search_field :ad_duration_cont %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>

<div class="vehicle-list-container">
  <div class="vehicle-list-header">
    <div class="total-vehicles">
      Viso: 59 Automobiliai
    </div>
  </div>

  <ul class="vehicle-list-items">
    <% @vehicles.each do |vehicle| %>
      <li class="vehicle-list-item">
        <div class="vehicle-list-item-title">
          <%= link_to vehicle do %>
            <%= vehicle.manufacturer %> <%= vehicle.model %>
          <% end %>
        </div>


        <%= vehicle.plate_number %>
        <%= vehicle.category %>
        <%= vehicle.body_style %>
        <%= vehicle.color %>
        <%= vehicle.year %>
        <%= vehicle.ad_size %>
        <%= vehicle.ad_duration %>
        <%= vehicle_distance_helper(vehicle.id) %>
        <%= vehicle_location_helper(vehicle.id) %>

      </li>
    <% end %>
  </ul>
</div>

<div class="search-container">
  <%= will_paginate @vehicles %>
</div>
