<div class="search-container">
  <%= search_form_for @q do |f| %>
    <div class="search-fields-container">
      <div class="row g-2">
        <div class="col-md-6">
          <div class="form-floating">
            <%= f.select :color_cont, options_for_select(["Vilnius", "Minsk"]), {}, {class: "form-select", id: "floatingSelectGrid"} %>
            <label for="floatingSelectGrid">Miestas</label>
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-floating">
            <%= f.select :body_style_cont, options_for_select(["Lengvasis automobilis"]), {}, {class: "form-select", id: "floatingSelectGrid"} %>
            <label for="floatingSelectGrid">Kėbulo tipas</label>
          </div>
        </div>

        <div class="col-md d-grid gap-2">
          <%= f.submit "Ieškoti", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>



  <div class="vehicle-list-header">
    <div class="total-vehicles">
      Viso: <%= Vehicle.count %> automobiliai
    </div>
  </div>

  <% @vehicles.each do |vehicle| %>
    <div class="vehicle-list-container">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="https://s.auto.drom.ru/i24197/c/photos/fullsize/lexus/gs300/lexus_gs300_521056.jpg" class="img-fluid rounded-start" alt="...">
          </div>

          <div class="col-md-10">
            <div class="card-body">
              <div class="vehicle-list-item-title-container">
                <div class="card-title">
                  <%= link_to vehicle do %>
                    <%= vehicle.manufacturer %> <%= vehicle.model %>
                  <% end %>
                </div>

                <div class="vehicle-list-item-location">
                  <%= vehicle_location_helper(vehicle.id) %>
                </div>
              </div>

              <div class="card-text">
                <small class="text-muted">
                    <%= vehicle.category %> |
                    <%= vehicle.body_style %> |
                    <%= vehicle.color %> |
                    <%= vehicle.year %> |
                    <%= vehicle_distance_helper(vehicle.id) %>/viso |
                    <%= vehicle_distance_helper(vehicle.id) %>/4sav.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= will_paginate @vehicles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
