<section>
  <div class="section-container">
    <div class="search-container">
      <%= search_form_for @q do |f| %>
        <div class="search-fields-container">
          <div class="row g-2">
            <div class="col-md-6">
              <div class="form-floating">
                <%= f.select(:city_cont, cities_options_for_select_helper, {include_blank: true}, {class: "form-select", id: "floatingSelectGrid"}) %>
                <label for="floatingSelectGrid">Miestas</label>
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-floating">
                <%= f.select(:body_style_cont, body_style_select_helper, {include_blank: true}, {class: "form-select", id: "floatingSelectGrid"}) %>
                <label for="floatingSelectGrid">Kėbulo tipas</label>
              </div>
            </div>

            <div class="col-md d-grid gap-2">
              <%= f.submit "Ieškoti", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section>
  <div class="section-container">
    <div class="vehicle-list-header">
      <div class="total-vehicles">
        Viso: <%= total_auto_helper(@q.result(distinct: true).count) %>
      </div>

      <div class="sort-by">
        <div class="btn-group">
          <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Rikiuoti pagal
          </button>

          <ul class="dropdown-menu dropdown-menu-end">
            <%= sort_link(@q, :total_km, hide_indicator: true, default_order: :desc) do %>
              <li><button class="dropdown-item" type="button">Kilometrus</button></li>
            <% end %>

            <%= sort_link(@q, :km_price, hide_indicator: true, default_order: :desc) do %>
              <li><button class="dropdown-item" type="button">Kainą</button></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <% @vehicles.each do |vehicle| %>
      <%= link_to vehicle do %>
        <div class="vehicles-list">
          <div class="vehicles-list-primary-image">
            <% vehicle.images.each do |image| %>
              <% if image[:primary] %>
                <%= image_tag("https://res.cloudinary.com/dhgsrpwf7/image/upload/c_fill,h_129,w_180/v1618681343/vehicle_image/Vitalijus%20Desukas%20hfg667.jpg", class: "img-fluid", alt: "...") %>
              <% end %>
            <% end %>
          </div>

          <div class="vehicles-list-body">
            <div class="card-body">
              <div class="vehicle-list-item-title-container">
                <div class="vehicle-list-item-title">
                  <%= vehicle.manufacturer %> <%= vehicle.model %>

                  <!-- <div class="vehicle-list-item-subtitle">
                    <%= vehicle.year %> metų <%= vehicle.color %> <%= vehicle.body_style %>
                     €<%= vehicle.km_price %>
                  </div> -->
                </div>

                <div class="vehicle-list-item-total-km">
                  <%= km_converter_helper(vehicle.total_km) %>km
                </div>
              </div>

              <div class="vehicle-list-body">
                <ul class="vehicle-list-body-cities">
                  <li>
                    <div class="vehicle-list-body-title">
                      Miestai:
                    </div>
                  </li>

                  <% vehicle.cities.first(3).each do |city| %>
                    <li>
                      <div class="">
                        <%= city["city"] || city["town"] || "Užmiestis" %> - <%= city["percentage"].round(1) %>%
                      </div>
                    </li>
                  <% end %>
                </ul>

                <ul class="vehicle-list-body-elderships">
                  <li>
                    <div class="vehicle-list-body-title">
                      Vietovės:
                    </div>
                  </li>

                  <% vehicle.elderships.first(3).each do |eldership| %>
                    <li>
                      <div class="">
                        <%= eldership["eldership"] || "Užmiestis" %> - <%= eldership["percentage"].round(1) %>%
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>

              <div class="vehicle-list-footer">
                Kaina: €<%= vehicle.km_price %>/km
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

<section>
  <div class="section-container">
    <%= will_paginate @vehicles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
  </div>
</section>
