<div class="container-fluid my-page">
  <div class="content-wrapper">
    <div class="content-wrapper-header">
      Automobiliai
    </div>

    <div class="content-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Gamintojas</th>
            <th scope="col">Modelis</th>
            <th scope="col">Auto. numeriai</th>
            <th scope="col">Kategorija</th>
            <th scope="col">Kėbulo tipas</th>
            <th scope="col">Spalva</th>
            <th scope="col">Metai</th>
            <th scope="col">Rek. plotas</th>
            <th scope="col">Rek. trukmė</th>
            <th scope="col">Kaina</th>
            <th scope="col">Užsakymai</th>
            <th scope="col">Paskelbtas</th>
          </tr>
        </thead>
        <tbody>
          <% @my_vehicles.each do |my_vehicle| %>
            <tr>
              <td><%= my_vehicle.manufacturer %></td>
              <td><%= my_vehicle.model %></td>
              <td><%= my_vehicle.plate_number %></td>
              <td><%= my_vehicle.category %></td>
              <td><%= my_vehicle.body_style %></td>
              <td><%= my_vehicle.color %></td>
              <td><%= my_vehicle.year %></td>
              <td><%= my_vehicle.ad_size %></td>
              <td><%= my_vehicle.ad_duration %></td>
              <td><%= price_helper(my_vehicle) %>€/km</td>
              <td><%= my_vehicle.orders.count %></td>
              <td><%= my_vehicle.published ? "Taip" : "Ne" %></td>
              <td><%= link_to 'Atidaryti', my_vehicle %></td>
              <td><%= link_to 'Redaguoti', edit_vehicle_path(my_vehicle) %></td>
              <td><%= link_to 'Trinti', my_vehicle, method: :delete, data: { confirm: 'Tikrai?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
