<section>
  <div class="section-container">
    <div class="vehicle-container">
      <div class="vehicle-body">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% @vehicle.images.each do |image| %>
              <div class="carousel-item <%= 'active' if image == @vehicle.images[0] %>">
                <%= cl_image_tag(image.image.show_cover, class: "img-fluid") %>
              </div>
            <% end %>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="vehicle-title">
          <%= @vehicle.manufacturer %> <%= @vehicle.model %>
        </div>

        <div class="vehicle-text">
          <div class="vehicle-info">
            <span class="vehicle-info-title">
              Kilometrai:
            </span>

            <span class="vehicle-info-value">
              <%= km_converter_helper(@vehicle.total_km) %>km
            </span>
          </div>

          <div class="vehicle-info">
            <span class="vehicle-info-title">
              Pagrindinis miestas:
            </span>

            <span class="vehicle-info-value">
              <%= @vehicle.city %>
            </span>
          </div>

          <div class="vehicle-info">
            <span class="vehicle-info-title">
              Registracijos numeris:
            </span>

            <span class="vehicle-info-value">
              <%= @vehicle.plate_number %>
            </span>
          </div>

          <div class="vehicle-info">
            <span class="vehicle-info-title">
              Kategorija:
            </span>

            <span class="vehicle-info-value">
              <%= @vehicle.category %>
            </span>
          </div>

          <div class="vehicle-info">
            <span class="vehicle-info-title">
              Kėbulas:
            </span>

            <span class="vehicle-info-value">
              <%= @vehicle.body_style %>
            </span>
          </div>

          <div class="vehicle-info">
            <span class="vehicle-info-title">
              Spalva:
            </span>

            <span class="vehicle-info-value">
              <%= @vehicle.color %>
            </span>
          </div>

          <div class="vehicle-info">
            <span class="vehicle-info-title">
              Metai:
            </span>

            <span class="vehicle-info-value">
              <%= @vehicle.year %>
            </span>
          </div>

          <div class="vehicle-info">
            <span class="vehicle-info-title">
              Reklamos dydis:
            </span>

            <span class="vehicle-info-value">
              <%= @vehicle.ad_size %>
            </span>
          </div>

          <div class="vehicle-info">
            <span class="vehicle-info-title">
              Reklamos trukmė:
            </span>

            <span class="vehicle-info-value">
              <%= @vehicle.ad_duration %>
            </span>
          </div>
        </div>
      </div>

      <div class="vehicle-body">
        <div class="vehicle-title">
          Dažniausi miestai
        </div>

        <div class="vehicle-text">
          <ul class="vehicle-places-header">
            <li class="vehicle-places-counter"s>
              #
            </li>

            <li>
              Miestas
            </li>

            <li>
              Procentai
            </li>

            <li>
              Kilometrai
            </li>
          </ul>

          <% @vehicle.cities.each.with_index(1) do |city, index| %>
            <% if city["percentage"] >= 1 %>
              <ul class="vehicle-places">
                <li class="vehicle-places-counter">
                  <%= index %>
                </li>

                <li>
                  <%= truncate(city["city"] || city["town"] || "Užmiestis", length: 15, omission: '.') %>
                </li>

                <li>
                  <%= city["percentage"].round(1) %>%
                </li>

                <li>
                  <%= km_converter_helper(city["odometer"]) %>km
                </li>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="vehicle-body">
        <div class="vehicle-title">
          Dažniausios vietovės
        </div>

        <div class="vehicle-text">
          <ul class="vehicle-places-header">
            <li class="vehicle-places-counter"s>
              #
            </li>

            <li>
              Vietovė
            </li>

            <li>
              Procentai
            </li>

            <li>
              Kilometrai
            </li>
          </ul>

          <% @vehicle.elderships.each.with_index(1) do |eldership, index| %>
            <% if eldership["percentage"] >= 1 %>
              <ul class="vehicle-places">
                <li class="vehicle-places-counter">
                  <%= index %>
                </li>

                <li>
                  <%= truncate(eldership["eldership"] || "Užmiestis", length: 50, omission: '.') %>
                </li>

                <li>
                  <%= eldership["percentage"].round(1) %>%
                </li>

                <li>
                  <%= km_converter_helper(eldership["odometer"]) %>km
                </li>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="vehicle-sidebar-container">
      <div class="vehicle-sidebar">
        <div class="vehicle-sidebar-header">
          Užsakymo info
        </div>

        <div class="vehicle-sidebar-info">
          <ul>
            <li>
              <span class="vehicle-sidebar-info-title">
                Kaina/km:
              </span>

              <span class="vehicle-sidebar-info-value">
                €<%= @vehicle.km_price %>/km
              </span>
            </li>

            <li>
              <span class="vehicle-sidebar-info-title">
                Reklamos dydis:
              </span>

              <span class="vehicle-sidebar-info-value">
                <%= @vehicle.ad_size %>
              </span>
            </li>

            <li>
              <span class="vehicle-sidebar-info-title">
                Reklamos trukmė:
              </span>

              <span class="vehicle-sidebar-info-value">
                <%= @vehicle.ad_duration %>
              </span>
            </li>

            <li>
              <span class="vehicle-sidebar-info-title">
                Auto ID:
              </span>

              <span class="vehicle-sidebar-info-value">
                <%= @vehicle.tracker_imei %>
              </span>
            </li>
          </ul>
        </div>

        <div class="vehicle-sidebar-admin-price">
          <ul>
            <li>
              <span class="vehicle-sidebar-info-title">
                Medžiagos:
              </span>

              <span class="vehicle-sidebar-info-value">
                €400
              </span>
            </li>
          <ul>
        </div>

        <div class="d-grid gap-2 vehicle-sidebar-button">
          <%= link_to 'Tęsti', new_order_path(vehicle_id: @vehicle.id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</section>
