<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <%= link_to root_url, :class => "navbar-brand" do %>
        LOGO
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item">
            <div class="nav-link">
              <%= link_to "Kontaktai", contacts_path %>
            </div>
          </li>

          <li class="nav-item">
            <div class="nav-link">
              <%= link_to new_vehicle_path do %>
                Pridėti auto
              <% end %>
            </div>
          </li>
        </ul>

        <span class="navbar-text">
          <div class="form-inline my-2 my-lg-0 hide-mobile">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <% if user_signed_in? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Paskyra
                  </a>

                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to my_vehicles_path, :class => "dropdown-item" do %>
                      Automobiliai
                    <% end %>

                    <%= link_to my_orders_path, :class => "dropdown-item" do %>
                      Užsakymai
                    <% end %>

                    <%= link_to edit_user_registration_path, :class => "dropdown-item" do %>
                      Nustatymai
                    <% end %>

                    <li><hr class="dropdown-divider"></li>

                    <%= link_to destroy_user_session_path, :method => :delete, :class => "dropdown-item" do %>
                      Atsijungti
                    <% end %>
                  </ul>
                </li>
              <% else %>
                <li class="nav-item">
                  <div class="nav-link">
                    <%= link_to "Prisijungti", new_user_session_path %>
                  </div>
                </li>

                <li class="nav-item">
                  <div class="nav-link">
                    <%= link_to "Registruotis", new_registration_path("user") %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </span>
      </div>
    </div>
  </nav>
</header>
