<div class="form-container">
  <div class="form-header">
    Nustatymai
  </div>

  <div class="form-fields-container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <% if resource.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <%= render "users/shared/error_messages", resource: resource %>
        </div>
      <% end %>

      <div class="form-fields">
        <div class="field">
          <%= f.label :email, "Elektroninio pašto adresas" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, "Naujas slaptažodis" %>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <div class="field-helper-text">
              Mažiausiai <%= @minimum_password_length %> simboliai. Palikti tuščią jei nenorite keisti slaptažodį.
            </div>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Pakartoti naują slaptažodį" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :current_password, "Dabartinis slaptažodis" %>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
          <div class="field-helper-text">
            Mums reikalingas Jūsų dabartinis slaptažodžis, kad patvirtintume pakeitimus.
          </div>
        </div>

        <div class="d-grid gap-2">
          <%= f.submit "Atnaujinti", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="form-container">
  <div class="form-header">
    Trinti paskyrą?
  </div>

  <div class="form-fields-container">
    <%= button_to "Trinti", registration_path(resource_name), data: { confirm: "Ar tikrai?" }, method: :delete, class: "btn btn-primary" %>
  </div>
</div>
