<div class="container-fluid wrapper">
  <div class="content-wrapper">
    <div class="content-wrapper-header">
      Sukurti paskyrą
    </div>

    <div class="content-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <% if resource.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <%= render "users/shared/error_messages", resource: resource %>
          </div>
        <% end %>

        <div class="registration-field">
          <%= f.label :email, "Elektroninio pašto adresas", for: "floatingInput" %>
          <%= f.email_field :email, {autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput"} %>
        </div>

        <div class="registration-field">
          <%= f.label :password, "Slaptažodis", for: "floatingInput" %>
          <%= f.password_field :password, {autocomplete: "new-password", class: "form-control", id: "floatingInput"} %>
          <% if @minimum_password_length %>
            <div class="field-helper-text">
              Mažiausiai <%= @minimum_password_length %> simboliai
            </div>
          <% end %>
        </div>

        <div class="registration-field">
          <%= f.label :password_confirmation, "Pakartoti slaptažodį", for: "floatingInput" %>
          <%= f.password_field :password_confirmation, {autocomplete: "new-password", class: "form-control", id: "floatingInput"} %>
        </div>

        <div class="col-md d-grid gap-2">
          <%= f.submit "Sukurti", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="shared-container">
    <%= render "users/shared/links" %>
  </div>
</div>
