<div class="form-container">
  <div class="form-header">
    Sukurti paskyrą
  </div>

  <div class="form-fields-container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <% if resource.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <%= render "users/shared/error_messages", resource: resource %>
        </div>
      <% end %>

      <div class="form-fields">
        <div class="field">
          <%= f.label :email, "Elektroninio pašto adresas" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "Slaptažodis" %>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <div class="field-helper-text">
              Mažiausiai <%= @minimum_password_length %> simboliai
            </div>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Pakartoti slaptažodį" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="d-grid gap-2">
        <%= f.submit "Sukurti", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="shared-container">
  <%= render "users/shared/links" %>
</div>
